/**
 * @File for css customizations.
 */

#reports-url-patterns-query{
    border:1px solid #ccc;
    padding:20px;
}
#reports-url-patterns-query label{
    font-weight: bold;
    font-size: 13px;
}
.form-item-filter-option{
    float:left;
    float: 20%
}